<!DOCTYPE html>
<html>

    <head>
        <title>说明</title>
        <!-- 新 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- 可选的Bootstrap主题文件（一般不用引入） -->
        <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css.css')}}">
        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
        <script type="text/javascript">
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {

            var msViewportStyle = document.createElement("style");
            msViewportStyle.appendChild(
                document.createTextNode(
                    "@-ms-viewport{width:auto!important}"
                )
            );
            document.getElementsByTagName("head")[0].
            appendChild(msViewportStyle);
        }

        </script>
    </head>

    <body id="body">
        <br>
        <br>
        <section label="Copyright Reserved by ipaiban.com." id="shifu_t_012" donone="shifuMouseDown(&#39;shifu_t_012&#39;)" style="border:0;text-align: left; margin: 0.8em 0 0.5em 0;border-style: none;">
            <section style="font-size: 1.4em; font-family: inherit; font-style: normal;
         font-weight: inherit; text-align: inherit; text-decoration: inherit;
          color: rgb(102, 102, 102); background-color: transparent;
          border-color: rgb(102, 102, 102);">
                <span class="color" style="font-size: 3em; line-height: 1em; font-weight: bolder;
             vertical-align: middle; color: rgb(102, 102, 102);">“</span><span style="line-height: 1.2; vertical-align: middle; font-size: 1.4em;
        font-family: inherit; font-style: normal; font-weight: inherit;
        text-align: inherit; text-decoration: inherit; color: rgb(42, 52, 58);">说明</span><span class="color" style="font-size: 3em; line-height: 1em; font-weight: bolder;
            vertical-align: middle; color: rgb(102, 102, 102);">”</span>
            </section>
        </section>
        <p class="shifubrush">
            <br/>
        </p>
        <section id="shifu_tem5_005" label="Copyright © 2016 playhudong All Rights Reserved." donone="shifuMouseDown(&#39;shifu_tem5_005&#39;)" style="margin: 1em auto 0;">
            <section class="wihudong" style="
color:#fab928;
font-size:16px;
margin-top: 1.5em;">
                <p>
                    01/少就是多的装饰原则
                </p>
            </section>
            <section style="font-size: 14px;
line-height:1.5em;
margin-top: 1.5em;">
                <p>
                    淡米色现代风格家居现代风格提出“少就是多”的装饰美学原则。所以现代风格最大特点是简洁、明了，抛弃了许多不必要的附加装饰，以平面构成、色彩构成、立体构成为基础进行设计，特别注重空间色彩以及形体变化的挖掘
                </p>
            </section>
            <section style="border-bottom: dashed 1px #adadad;margin-top: 1.5em;"></section>
            <p>
                <br/>
            </p>
            <section class="wihudong" style="
color:#fab928;
font-size:16px;
 margin-top: 1.5em;">
                <p>
                    02/空间的实用性和灵活性
                </p>
            </section>
            <section style="font-size: 14px;
line-height:1.5em;
margin-top: 1.5em;">
                <p>
                    现代风格追求空间的实用性和灵活性，居室空间是根据相互间的功能关系组合而成，而且功能空间相互渗透，空间的利用率达到最高。空间组织不再以房间组合为主，空间的划分也不再局限于硬质墙体，而是更注重会客、餐饮、学习、睡眠功能空间的逻辑关系。装饰材料与色彩设计为现代风格的室内效果提供了空间背景。
                </p>
            </section>
            <section style="border-bottom: dashed 1px #adadad;margin-top: 1.5em;"></section>
            <section class="wihudong" style="
color:#fab928;
font-size:16px;
 margin-top:1.5em;">
                <p>
                    03/以棕色系列为基色调
                </p>
            </section>
            <section style="
font-size: 14px;
line-height:1.5em;
margin-top: 1.5em;">
                <p>
                    现代风格的色彩经常以棕色系列(浅茶色、棕色、象牙色)或灰色系列(白色、灰色、黑色)等中间色为基调色。现代风格的居室重视个性和创造性的表现，即不主张追求高档豪华，而着力表现区别于其他住宅的东西。住宅小空间多功能是现代室内设计的重要特征
                </p>
            </section>
        </section>
        <section label="Copyright © 2014 playhudong All Rights Reserved." style="background-color: none;
    border:none;
    border-style: none;
    margin: 5px 0 0;
    padding: 10px 0;
    background: none;" id="shifu_o_027" donone="shifuMouseDownOther(&#39;shifu_o_027&#39;)">
            <section label="Copyright © 2014 playhudong All Rights Reserved." style="background-color: none;
    border:none;
    border-style: none;
    margin: 5px 0 0;
    padding: 10px 0;
    background: none;" id="shifu_o_017" donone="shifuMouseDownOther(&#39;shifu_o_017&#39;)">
                <img src="http://mmsns.qpic.cn/mmsns/wyice8kFQhf5geQK3gu2FUugjB8iaSGpjOiaELyUkOxkYcTC6WqiaValAg/0" style="width:100%;  height: 1px; margin: 0 auto; display: block;" />
            </section>
            <br/>
        </section>
        <p class="shifubrush">
            <br/>
        </p>
        <section section="" id="shifu_car_009" label="Copyright © 2016 playhudong All Rights Reserved." donone="shifuMouseDownPayStyle(&#39;shifu_car_009&#39;)" style="
margin: 1em 0;">
            <section style="
border:5px solid transparent;
">
                <section style="border-image:url(http://1251001145.cdn.myqcloud.com/1251001145/stylenew/card/car_009.png) 20/10px;">
                    <section style="padding:0.8em;line-height: 1.5em;" id="round">
                        <p>
                            我觉得这个世界美好无比。晴时满树花开，雨天一湖涟漪，阳光席卷城市，微风穿越指间，入夜每个电台播放的情歌，沿途每条山路铺开的影子，全部是你不经意写的一字一句，留我年复一年朗读。这世界是你的遗嘱，而我是唯一的遗物。— —张嘉佳
                        </p>
                    </section>
                </section>
            </section>
        </section>
        <section label="Copyright © 2014 playhudong All Rights Reserved." style="background-color: none;
    border:none;
    border-style: none;
    margin: 5px 0 0;
    padding: 10px 0;
    background: none;" id="shifu_o_017" donone="shifuMouseDownOther(&#39;shifu_o_017&#39;)">
            <img src="http://mmsns.qpic.cn/mmsns/wyice8kFQhf5geQK3gu2FUugjB8iaSGpjOiaELyUkOxkYcTC6WqiaValAg/0" style="width:100%;  height: 1px; margin: 0 auto; display: block;" />
        </section>
        <p class="shifubrush">
            <br/>
        </p>
        <section label="Copyright © 2016 playhudong All Rights Reserved." style="
border:none;
border-style:none;
width: 96%;
margin:0em auto;" id="shifu_car_004" donone="shifuMouseDownPayStyle(&#39;shifu_car_004&#39;)">
            <section style="width:98%;
margin-left:1em;
border-left:2px solid #C5C5C5;
box-sizing:border-box;">
                <section class="xhr" style="width:2em;
height:2em;
border-radius:50%;
box-sizing:border-box;
text-align:center;
line-height:2em;
color:#fff;
margin-left:-1em;
margin-top:1em;
display:inline-block;
background:#80C269;">
                    <p style="margin:0">
                        1
                    </p>
                </section>
                <section style="display:inline-block;
margin-left:2em;
margin-top:-3em;
font-size:1em;
line-height:2em;
padding:1em 1em 1em 0em;">
                    <p style="margin:0;">
                        人的眼睛是由黑、白两部分所组成的，可是神为什么要让人只能通过黑的部分去看东西？因为人生必须透过黑暗，才能看到光明。
                    </p>
                </section>
            </section>
        </section>
        <section label="Copyright © 2016 playhudong All Rights Reserved." style="
border:none;
border-style:none;
width: 96%;
margin:0em auto;" id="shifu_car_004" donone="shifuMouseDownPayStyle(&#39;shifu_car_004&#39;)">
            <section style="width:98%;
margin-left:1em;
border-left:2px solid #C5C5C5;
box-sizing:border-box;">
                <section class="xhr" style="width:2em;
height:2em;
border-radius:50%;
box-sizing:border-box;
text-align:center;
line-height:2em;
color:#fff;
margin-left:-1em;
margin-top:1em;
display:inline-block;
background:#80C269;">
                    <p style="margin:0">
                        1
                    </p>
                </section>
                <section style="display:inline-block;
margin-left:2em;
margin-top:-3em;
font-size:1em;
line-height:2em;
padding:1em 1em 1em 0em;">
                    <p style="margin:0;">
                        人的眼睛是由黑、白两部分所组成的，可是神为什么要让人只能通过黑的部分去看东西？因为人生必须透过黑暗，才能看到光明。
                    </p>
                </section>
            </section>
        </section>
        <section label="Copyright © 2016 playhudong All Rights Reserved." style="
border:none;
border-style:none;
width: 96%;
margin:0em auto;" id="shifu_car_004" donone="shifuMouseDownPayStyle(&#39;shifu_car_004&#39;)">
            <section style="width:98%;
margin-left:1em;
border-left:2px solid #C5C5C5;
box-sizing:border-box;">
                <section class="xhr" style="width:2em;
height:2em;
border-radius:50%;
box-sizing:border-box;
text-align:center;
line-height:2em;
color:#fff;
margin-left:-1em;
margin-top:1em;
display:inline-block;
background:#80C269;">
                    <p style="margin:0">
                        1
                    </p>
                </section>
                <section style="display:inline-block;
margin-left:2em;
margin-top:-3em;
font-size:1em;
line-height:2em;
padding:1em 1em 1em 0em;">
                    <p style="margin:0;">
                        人的眼睛是由黑、白两部分所组成的，可是神为什么要让人只能通过黑的部分去看东西？因为人生必须透过黑暗，才能看到光明。
                    </p>
                </section>
            </section>
        </section>
        <section label="Copyright © 2014 playhudong All Rights Reserved." style="background-color: none;
    border:none;
    border-style: none;
    margin: 5px 0 0;
    padding: 10px 0;
    background: none;" id="shifu_o_023" donone="shifuMouseDownOther(&#39;shifu_o_023&#39;)">
            <img src="http://1251001145.cdn.myqcloud.com/1251001145/stylenew/fengexian/o_032.png" style="width: 160px; margin: 0 auto; display: block;" />
        </section>
        <p class="shifubrush">
            <br/>
        </p>
        <section label="Copyright © 2014 playhudong All Rights Reserved." style="background-color: none;
    border:none;
    border-style: none;
    margin: 5px 0 0;
    padding: 10px 0;
    background: none;" id="shifu_o_026" donone="shifuMouseDownOther(&#39;shifu_o_026&#39;)">
            <br/>
        </section>
        <p class="shifubrush">
            <br/>
        </p>
        <p class="shifubrush">
            <br/>
        </p>
        <p>
            <br/>
        </p>
    </body>

</html>

